<h1>NgxFormControlAggrid example application</h1>
<form
  [formGroup]="form" (ngSubmit)="onSubmit()" >
  <ngx-form-control-aggrid
    [modelType]="'inMemory'"
    [formElement]="form.controls['aggrid']"
  ></ngx-form-control-aggrid>
  <!--<ngx-form-control-text [formElement]="form.get('text')"></ngx-form-control-text>-->
  <!--<ngx-form-control-error-message [formElement]="form.get('text')"></ngx-form-control-error-message>-->

  <!--<ngx-form-control-select [formElement]="form.get('select')"></ngx-form-control-select>-->
  <!--<ngx-form-control-error-message [formElement]="form.get('select')"></ngx-form-control-error-message>-->

  <!--<ngx-form-control-multi-checkbox [formElement]="form.get('multiCheckbox')"></ngx-form-control-multi-checkbox>-->
  <!--<ngx-form-control-error-message [formElement]="form.get('multiCheckbox')"></ngx-form-control-error-message>-->

  <!--<ngx-form-control-radio [formElement]="form.get('radio')"></ngx-form-control-radio>-->
  <!--<ngx-form-control-error-message [formElement]="form.get('radio')"></ngx-form-control-error-message>-->

  <!--<ngx-form-control-checkbox [formElement]="form.get('checkbox')" [label]="'Чекбокс'"></ngx-form-control-checkbox>-->
  <!--<ngx-form-control-error-message [formElement]="form.get('checkbox')"></ngx-form-control-error-message>-->

  <!--<ngx-form-control-textarea [formElement]="form.get('textarea')"></ngx-form-control-textarea>-->
  <!--<ngx-form-control-error-message [formElement]="form.get('textarea')"></ngx-form-control-error-message>-->
  <!--<fieldset>-->
    <!--<ngx-form-control-text [formElement]="form.controls['grp'].controls['grpText']"></ngx-form-control-text>-->
    <!--<ngx-form-control-error-message [formElement]="form.controls['grp'].controls['grpText']"></ngx-form-control-error-message>-->

    <!--<ngx-form-control-select [formElement]="form.controls['grp'].controls['grpSelect']"></ngx-form-control-select>-->
    <!--<ngx-form-control-error-message [formElement]="form.controls['grp'].controls['grpSelect']"></ngx-form-control-error-message>-->
  <!--</fieldset>-->
  <input type="submit" name="OK">
</form>
